{% extends "base.html" %}


{% block content %}
 
{% if user.is_authenticated %}

<blockquote class="blockquote">
	<p>Hey {{ user.first_name }} you can manage your data here !!</p>
  </blockquote>
{% endif %}




<div class="card">
    <div class="card-header">
     <strong>fullname</strong> : {{user_details.first_name}} {{user_details.last_name}}
    </div>
    <div class="card-header">
    <strong>email</strong> :{{user_details.email}}
    </div>
    <div class="card-header">
     <strong>phone</strong> : {{user_details.phone}}
    </div>
    <div class="card-header">
    <strong>address</strong> : {{user_details.address}}
    </div>
    <div class="card-header">
     <strong>city</strong> : {{user_details.city}}
    </div>
    <div class="card-header">
        <strong>state</strong> : {{user_details.state}}
    </div>
    <div class="card-header">
        <strong>zipcode</strong>  :  {{user_details.zipcode}}
    </div>
    <div class="card-body">

        <a class="btn btn-danger" href="{% url "delete_records" user_details.id %}">delete Records</a>
        <a class="btn btn-primary" href="{% url "update_records" user_details.id %}">Edit Records</a>
    </div>
  </div>


{% endblock content %}